
.wrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
    overflow: hidden;
    padding-bottom: 100px;
    margin-top: 30px ;
}
.logo {
    width: 10%;
    float: left;
    /* padding-right: 30%; */
}
.menu {
    width: 90%;
    float: left;
}
.menu :hover {
    color: rgb(199, 11, 11);
}
ul > li{
    list-style-type: none;
    display: inline-block;
    width: 22.5%;
    text-align: right;
    padding-left: 25px;
}
ul > li >a {
    text-decoration: none;
}
.photo > .hinh1 {
    width: 100%;
    margin: auto;
    padding-bottom: 70px;
    /* padding-left: 10%; */
}
.photo > .selection {
    text-align: justify;
    padding: 0 7%;
}
h3 {
    line-height: 5;
    font-size: 14px;
    opacity: 0.2;
}
.selection > h1 {
    line-height: 3;
    font-size: 30px ;
}
.selection > span {
    opacity: 0.2;
}
.article > .item-list {
    /* padding-top: 60px; */
    padding-left: 7%;
}
.article > .item-list > .list-1{
    width: 50%;
    float: left;
    overflow: hidden;
    padding-top: 75px
}
.list-1 > h5 {
    padding-top: 30px;
    opacity: 0.2;
}
.list-1 > h1 {
    font-size: 26px;
    /* width: 420px; */
    line-height: 3;
}
.list-1 > p {
    text-align: justify;
    padding-right: 18%;
}
.heading {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    background: rgb(184, 182, 182);
    margin: 115px auto;
    padding: 60px 0px;
}
.heading > .content {
    text-align: center;
    width: 100%;
}
.text  > h2 {
    padding-bottom: 40px; 
    font-size: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-bar > .item-list > .list-1{
    width: 50%;
    float: left;
    overflow: hidden;
    padding-top: 0px
}
.Nut {
    overflow: hidden;
    /* display: inline-block; */
    /* margin-top: 130px;
    margin-left: 600px; */
    text-align: center;
    /* margin: 100px 50% 130px 44%; */
}
.Nut > p {
    margin: 100px;
}
.Nut > p > a  {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    padding: 15px;
}
.footer {
    background: rgb(222, 220, 220);
    width: 100%;
    overflow: hidden;
    padding: 30px 0px;
}
.footer > .link-2 {
    display: inline-block;
    width: 30%;
}
.footer > .link-2 > a {
    text-decoration: none;
    list-style-type: none;
}
.footer > .icon {
    width: 70%;
    float: right;
}
.icon > ul {
    width: 31%; 
    float: right; 
    display: inline-block;
}
.icon > ul >li {
    width: 15%;
}
a {
    color: rgb(0, 0, 0);
}
.menu .icon {
    display: none;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    .article > .item-list > .list-1 {
        width: 100%;
        text-align: center;
    }
    .heading {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
    .list-1 > p {
        padding-left: 20%; 
        padding-bottom: 50px
        
    }

    .header .logo-menu .menu {
        /* overflow: hidden; */
        position: relative;
        
    }
    .header .logo-menu a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: red;
        padding: 14px 16px;  
        font-size: 17px;
    }
    .menu .link-1 {
        display: none;
        width: 100%;
        margin-top: 34px;
    }
    .menu ul {
        background: gray;
    }
    .menu .link-1 li {
        width: 100%;
        margin: 20px auto;
        border-radius: 10px;
    }
    .icon:hover ~ .link-1 {
        display: block;
    }
    .menu ul li a {
        color: yellow;
        float: left;
    }
}
