
.wrap {
    width: 1200px;
    margin: 0 auto;
    /* overflow: hidden; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
    overflow: hidden;
}
.logo {
    width: 10%;
    float: left;
    /* padding-right: 30%; */
}
.menu {
    width: 90%;
    float: left;
}
.menu :hover {
    color: rgb(199, 11, 11);
}
ul > li{
    list-style-type: none;
    display: inline-block;
    width: 24.5%;
    text-align: right;
}
ul > li >a {
    text-decoration: none;
}
.photo > .hinh1 {
    margin: auto;
    padding-bottom: 70px;
    padding-left: 5%;
}
.photo > .selection {
    text-align: justify;
    padding: 0 7%;
}
.selection > h1 {
    line-height: 3;
    font-size: 30px ;
}
.article > .item-list {
    padding-top: 60px;
    /* margin: auto 7%; */
    padding-left: 7%;
}
.article > .item-list > .list-1{
    width: 50%;
    float: left;
    overflow: hidden;
    padding-top: 75px
}


.list-1 > h5 {
    padding-top: 30px;
}
.list-1 > h1 {
    font-size: 26px;
    /* width: 420px; */
    line-height: 3;
}
.list-1 > p {
    text-align: justify;
    padding-right: 18%;
}
.heading {
    display: inline-block;
    /* padding: auto 30px; */
}
.heading > .content {
    padding-top: 50px;
    text-align: center;
    margin-top: 70px;
    background: rgb(184, 182, 182);
    height: 150px;
    width: 100%;
    margin-left: 6%;
    /* background-repeat   : no-repeat; */
}
.text  > h2 {
    padding-bottom: 40px;
    font-size: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Nut {
    display: inline-block;
    border: 2px solid black;
    width: 135px;
    height: 50px;
    /* margin-top: 130px;
    margin-left: 600px; */
    text-align: center;
    margin: 100px 50% 600px 44%;
}
.Nut ul {
    padding-top: 17px;
}
.Nut  ul li  {
    width: 95px;
    text-align: center;
}
.footer {
    background: rgb(222, 220, 220);
    height: 50px;
    overflow: hidden;
    margin-top: 250px;
    display: block;
    padding-top: 31px;
}
.footer > .link-2 {
    display: inline-block;
    width: 30%;
}
.footer > .link-2 > a {
    text-decoration: none;
    list-style-type: none;
}
.footer > .icon {
    width: 70%;
    float: right;
}
.icon > ul {
    width: 30%; 
    float: right; 
    display: inline-block;
}
.icon > ul >li {
    width: 15%;
}